<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boletín Digital - Colegio Guevara</title>
    <link rel="stylesheet" href="home.css">
</head>



<body>
    <header>
        <h1>Boletín Digital del Colegio Guevara</h1>
        <div class="botones">
            <button type="button" class="boletin1">Ver Boletín de Alumnos</button>
           
            <button type="button" class="boletin1">Cargar Notas de alumnos</button>
    
        </div>
    </header>
    
    <nav>
        <ul>
            <li><a href="#alumnos">Alumnos</a></li>
            <li><a href="#personal">Personal Alumnado</a></li>
            <li><a href="#privacidad">Seguridad y Privacidad</a></li>
        </ul>
    </nav>

    <main>
        <section id="alumnos">
            <h2>Alumnos del Establecimiento</h2>
            <p>Los alumnos del colegio Dr. Ernesto Guevara solo tendran acceso a su unico inicio de sesion donde podran visualizar sus notas de forma individual.
                Sin poder hacer moficacion alguna, ingresaran con su nombre de usuario y contraseña. De no estar registrados en el sistema 
                tendran que oprimir el boton "Registrar" y completar el formulario con sus datos personales. De esa forma podran ingresar cuando cuando gusten de ver sus notas.
                .</p>
            <div id="alumnos-lista"></div>
        </section>

        <section id="personal">
            <h2>Personal Alumnado</h2>
            <p> El personal de Alumnados sera el encargado de subir las notas de los alumnos Guevareanos. Donde a travez de su uario y contraseña
                tendran acceso a la carga de notas del boletin digital de cada alumno del colegio Dr Ernesto Guevara.
            </p>
            <div id="personal-lista"></div>
        </section>

        <section id="privacidad">
            <h2>Seguridad y Privacidad</h2>
            <p>
                En el colegio Guevara, la seguridad y privacidad de nuestros estudiantes y personal de alumnados son nuestra prioridad.
                Toda información es tratada con confidencialidad y está protegida conforme a las normativas vigentes.
                Cada cuenta de usuario dentro del Boletin Digital esta altamente protejida y resguardada.


    
            </p>
        </section>
    </main>
   
    <footer>

        <p>&copy; 2024 Colegio Guevara. Todos los derechos reservados.</p>
    </footer>

   
</body>
</html>
