<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boletín Digital</title>
    <link rel="stylesheet" href="login.css">
    <script src="script.js"></script>
</head>
<body>
    <header>
        <h1>BOLETÍN DIGITAL</h1>
        <div class="logo">
            <img src="logoo.png" alt="logo">
        </div>
    </header>
    
    <div class="container">
        <div class="left">
            <img src="tini.jpg" alt="Imagen de fondo">
        </div>
        <div class="login-box">
            <h2>Acceda a la plataforma</h2>
            <form action="#" method="post">
                <input type="text" placeholder="Nombre de usuario" required>
                <input type="password" placeholder="Contraseña" required>
                <button type="submit">Ingresar</button>
                <button type="submit">Registrar</button>
                <button type= "button" class="signup-button">Inscribirse</button>
                <a href="/registro">Registrar</a>
            </form>
        </div>
    </div>
    
    <footer>
        <p>&copy; Todos los derecho reservados.ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤwww.guevara.com.ar</p>
    </footer>
   
</body>
</html>
