<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="styles2.css">
</head>
<body>
    <header>
        <div class="header-logo">
            <img src="imagenes/logo esc.png" alt="Logo del colegio" width="150">
            <span><strong>Colegio provincial Dr. Ernesto Guevara</strong></span>
        </div>
        <a class="login-button" href="index1.html"><strong>Atras</strong></a> <!-- Enlace para volver al login -->
    </header>

    <div class="container">

        <h2>Registro del Alumno:</h2>

        <form class="student-form">
            <div class="form-group">
                <label for="nombre">DNI alumno/a (sin puntos, ni guiones):</label>
                <input type="text" id="dni" name="dni">
            </div>

            <div class="form-group">
                <label for="nombre">Nombre/s del alumno/a:</label>
                <input type="text" id="nombre" name="nombre">
            </div>

            <div class="form-group">
                <label for="apellido">Apellido/s:</label>
                <input type="text" id="apellido" name="apellido">
            </div>

            <div class="form-group">
                <label for="curso">Curso:</label>
                <select id="curso" name="curso">
                    <option value="">Selecciona curso</option>
                    <option value="1ro">1ro</option>
                    <option value="2do">2do</option>
                    <option value="3ro">3ro</option>
                    <option value="4to">4to</option>
                    <option value="5to">5to</option>
                    <option value="6to">6to</option>
                    <option value="7mo">7mo</option>
                </select>
            </div>

            <div class="form-group">
                <label for="division">División:</label>
                <select id="division" name="div">
                    <option value="">Selecciona división</opion>
                    <option value="1ra">1ra</option>
                    <option value="2da">2da</option>
                    <option value="3ra">3ra</option>
                    <option value="4ta">4ta</option> 
                </select>
            </div>

            <div class="form-group">
                <label for="usuario">Nombre de usuario:</label>
                <input type="text" id="usuario" name="usu">
            </div>

            <div class="form-group">
                <label for="contrasena">Contraseña:</label>
                <input type="password" id="contrasena" name="contrasena">
            </div>

            <a class="submit-button" href="index.html"><strong>Registrarse</strong></a>
        </form>
    </div>

    <footer>
        <p>© 2024 Todos los derechos reservados.</p>
    </footer>
</body>
</html>
