body {
    font-family: "Poppins", sans-serif;
    background-color: #161313;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000f6;
    padding: 10px 20px;
    color: white;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo img {
    margin-right: 5px;
}


.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #8a8a8a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    background-color: #fc0c0c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button {
    padding: 10px;
    background-color: #fc0c0c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #000000;
}


/* Botón de regreso al login */
.login-button {
    color: white;
    text-decoration: none;
    background-color: #fc0c0c;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: #000000;
    color: rgb(238, 239, 248);
    text-align: left;
    padding: 10px;
    font-size: 12px;
}
